In [11]:
import pandas as pd

#now create a dataframe
df = pd.DataFrame({
    'eye':    ['brown', 'green', 'blue', 'blue', 'brown'],
    'hair':   ['brown', 'blonde', 'red', 'blonde', 'brown'],
    'height': [60     ,  72     , 32   , 60      , 84],
})

df #Jupyter will display the last line of your cell!

     eye    hair  height
0  brown   brown      60
1  green  blonde      72
2   blue     red      32
3   blue  blonde      60
4  brown   brown      84

In [4]:
d= {'a':1, 'b':2, 'c':3}
# this is a dictionary
# if i wanna see the value of b, you can use square bracket
d['b']

2

In [13]:
#Selecting or filtering columns or rows
#Earlier you stored everything in a variable called df
#df.dtypes
df['height'] #acess just height column

#say you wanna select a subsect of columns, need to have double brackets
df[['height', 'eye']]

   height    eye
0      60  brown
1      72  green
2      32   blue
3      60   blue
4      84  brown

In [25]:
#more interesting thing to do is select rows based on criteria
# df['eye'] == 'brown' #double equal means are the things in my eye column equal to the string brown
# df['height']==60
# df['height'] < 70

df.index

df.loc[df['height'] <= 70] #only shows you the rows that are less than 70' filtering on a boolean criteria; look at rows that fit the criterion

     eye    hair  height
0  brown   brown      60
2  brown     red      32
3  brown  blonde      60

In [ ]:
#### Comparators
- Less than '<'
- Greater than '>'
- Less than/equal to ''<='
- Greater than/equal to '>='
- Is equal to '=='
- Not equal to '!='

In [30]:
#and operations
(df['eye'] == 'brown') & (df['height'] <= 70) #combine boolean expressions
df.loc[(df['eye'] == 'brown') & (df['height'] <= 70)]

#or operations
(df['eye'] == 'brown') | (df['height'] <= 70) #combine boolean expressions
df.loc[(df['eye'] == 'brown') | (df['height'] <= 70)]

#not functions
(df['eye'] == 'brown') | (df['height'] <= 70) #combine boolean expressions
df.loc[(df['eye'] == 'brown') | (df['height'] <= 70)]

     eye    hair  height
0  brown   brown      60
1  brown  blonde      72
2  brown     red      32
3  brown  blonde      60
4  brown   brown      84

In [41]:
# df['height']+20
# df.select_dtypes('object')
((df['height']+10).astype(str) + ' inches')

#df['height']-100
#df['height']/10
#df['height']*100
#df['height']**2
#df['height'].max()
#df['height'].min()
#df['height'].mean()
#df['height'].median()
#df['height'].quantile([.25,.5,.75])
#df['height'].std() 
#df['height'].std(ddof=0) for samples of 30 or less

0    70 inches
1    82 inches
2    42 inches
3    70 inches
4    94 inches
Name: height, dtype: object

In [42]:
df.groupby('eye')['height'].mean()

eye
brown    61.6
Name: height, dtype: float64

In [49]:
#load in data from FRED 
from fredapi import Fred
fred = Fred(api_key='8f59dec25e3eb3275581b6d50ddbc63b')

#OECD Total share price index
oecd_series = (
    fred.get_series(
        'SPASTT01USM661N', observation_start='1960-01-01', observation_end='2023-07-01'))

In [50]:
#call to fred to get CPI data
cpi_series = (
    fred.get_series('CPIAUSCL', observation_start='1960-01-01', observation_end='2023-07-01'))

ValueError: Bad Request.  The series does not exist.

In [51]:
# put in one dataframe which I call fred df
fred_df = pd.DataFrame({
    'OECD': oecd_series,
    'CPI': cpi_series
})

fred_df

NameError: name 'cpi_series' is not defined

In [53]:
fred_df.loc['2000-01-01']['CPI']
fred_df.loc['2000-01-01']#year month date, gives series

# fred_df['CPI'] / fred_df.loc['2007-01-01']['CPI']
fred_df['CPI_adju'] = 1 # make a nwe column in pandas
fred_df['CPI_adju'] = fred_df['CPI'] / fred_df.loc['2007-01-01']['CPI'] #gives you a new column 
fred_df

NameError: name 'fred_df' is not defined