In [16]:
import statsmodels.api as sm
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [21]:
data = pd.read_csv("emdset.csv")

In [22]:
data.head()

        Date Non-ESG EM    ESG EM
0   9-Oct-19      993.01  1082.01
1  10-Oct-19       996.5  1085.50
2  11-Oct-19    1,011.54  1100.54
3  14-Oct-19    1,017.45  1106.45
4  15-Oct-19    1,019.25  1108.25

In [23]:
data.tail()

          Date Non-ESG EM    ESG EM
1038  2-Oct-23      951.49  1040.49
1039  3-Oct-23     939.164  1028.16
1040  4-Oct-23      927.86  1016.86
1041  5-Oct-23      930.23  1019.23
1042  6-Oct-23     937.338  1026.34